body{
    display: flex;
    justify-content: center;
}
.logo{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 25px 100px 25px 100px;
}

.logo1{
    font-size: 15px;
    color: #99d98c;
    margin: -5px;
    display: block;
}

.logo2{
    display: block;
    font-size: 40px;
    color: #03045e;
    margin: -5px;
}

.logo3{
    margin: -5px;
    font-size: 20px;
    display: block;
    color: #34a0a4;
}

hr{
    /* margin-right: 10%; */
    /* margin-left: 10%; */
}
.container{
    width: 50%;
    background-color: #f7e1d7;
}

.menu{
    text-align: center;

}

.menu a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #03045E;
    
}
.menu a:hover{
    color: #34A0A4;

}
.imge img{
height: 200px;
width: 33%;
}

.imge{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
}